<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/logo.ico">
    <title>Write Ai-d</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/tab.css">
    <style type="text/css">
      p {
        line-height: 1.8;
        text-align: justify;
        text-indent: 10%;
      }
      .copyright {
        transform:translateX(-35px);
      }
    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Write Ai-d</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/summary">Summary Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/demo">Project Demo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/future">Future Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meet">Meet the Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/thanks">Special Thanks</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/proj1.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Future Work</h1>
              <span class="subheading">What We Plan on Doing to Improve</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="section-heading">Next Steps</h2>
            <p>
              In the future, we hope to integrate our application into the browser so that the client will have access to the technology from any computer and would not have to worry about installation. To accomplish this, we would create a web app running python for the backend language. We would either use the Django or Flask framework to do this. If we were planning on commercializing the product, we would run the application on Django so that we could easily expand the web app for multiple people. However, if it was an app solely for our client, we would run it on Flask as it is a good framework for small web apps.
            </p>
            <p>
              Using python in the backend, we would have a similar User Interface layout, however, when the client clicks a button to check the letter, it would run a python script linked to our MLA to analyze the drawing on the document canvas. Additionally, we could create many more training sets and increase the steps in the training process. This would make the program much more accurate which would be important if it was used as an everyday item. Finally, we plan on modifying the code to analyze words at a time instead of individual characters to improve the user experience of the application.
            </p>
            <center><img class="img-fluid" src="img/webV.png" style="height:500px;width:auto" alt=""></center>
            <span class="caption text-muted">Picture of future web version of working application.</span>
            <p>
              In terms of the S.A.D., with some market research, we can continue to improve its functionality and its comfortability. This would allow the client to write better with our application whilst reducing the amount of pain associated with writing.
            </p>

            <h2 class="section-heading problem">Seeing the Impact</h2>
            <br>
            
          </div>
        </div>
      </div>
    </article>

    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          
        
        <ul class="nav" style="padding-bottom: 25px">
          
          <li class="active tabs"><a class=" btun" data-toggle="tab" href="#home">Home</a></li>
          <li class="tabs "><a class="btun" data-toggle="tab" href="#menu1" onclick="section1()">Graph 1</a></li>
          <li class="tabs"><a  class="btun" data-toggle="tab" href="#menu2" onclick="section2()">Graph 2</a></li>
          <li class="tabs"><a class="btun" data-toggle="tab" href="#menu3" onclick="section3()">Graph 3</a></li>

        </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <h3>Some Data About Our Project</h3>
            <p style="text-align: justify;">In this section, we have 3 tabs depicting data we have collected about the program we have created and how
            through implementing the changes mentioned above could impact the performance of our program for the better. The graphs
          will give you a good understanding of how proper implementation and more time for developping can vastly increase usefullness
        of our software.</p>
        <p>Additionally, all our graphs are animated when hovered upon, so try them out!</p>
          </div>
          <div id="menu1" class="tab-pane fade mini">
            <h3 >Percent Accuracy per Letter</h3>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12"> 
                  <p>
                    <b>Graph 1: </b>
                    This graph demonstrates the accuracy of the algorithm when analyzing each of the following letters. With more efficient 
                    algorithms for training, the analysis of letters would be much more accurate.
                  </p>
                </div>
              <!-- Graph 1 -->
              <div class="col-lg-9 col-md-9 col-xs-12">
                <section>
                  <div style="height:4%;width:70%; margin-left:15%" class="blockEls">
                    <canvas class="firstChart" width="500" height="500" style="padding-bottom: 10px"></canvas>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div id="menu2" class="tab-pane fade mini">
            <h3>Time to Analyze Each Letter (Average)</h3>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-12"> 
                <p>
                  <b>Graph 2: </b>
                  This pie graph demonstrates the amount of time it takes to analyze a letter currently (red) and how much time it could take (blue).<br> For animation, hover in from right side.
                </p>
              </div>
            

            <!-- Graph 2 -->
              <div class="col-lg-9 col-md-9 col-xs-12">
                <section>
                  <div style="height:4%;width:70%; margin-left:15%" class="blockEls">
                    <canvas class="secondChart" width="500" height="300" style="padding-bottom: 10px"></canvas>
                  </div>
                </section>
              </div>
            </div>
          </div>

          <div id="menu3" class="tab-pane fade mini">
            <h3>Time For Training (hrs) vs. Dataset Size</h3>

            <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-12"> 
                <p>
                  <b>Graph 3: </b>
                  This interpolated line graph demonstrates the amount of time it would take to train the algorithim with large sets of images. Ideally, a machine learning algorithim would use lots of data to train and take little time to be very accurate.
                </p>
              </div>

            <!-- Graph 3 -->
              <div class="col-lg-9 col-md-9 col-xs-12">
                <section >
                  <div style="height:4%;width:80%; margin-left:10%" class="blockEls">
                    <canvas class="thirdChart" width="500" height="300" style="padding-bottom: 10px"></canvas>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>


          
        </div>
      </div>
    </div>


    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted" >Copyright &copy; Write Ai-d 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>
    <script src="js/tab.js"> </script>
    
  </body>

</html>
