<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="shortcut icon" href="/img/logo.ico">
    <title>Write Ai-d</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.css" rel="stylesheet">
    <style type="text/css">
      p {
        line-height: 1.8;
        text-align: justify;
        text-indent: 10%;
      }
      .copyright {
        transform:translateX(-35px);
      }
    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Write Ai-d</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/summary">Summary Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/demo">Project Demo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/future">Future Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meet">Meet the Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/thanks">Special Thanks</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/bac3.jpg')">
      <div class="overlay"></div><!-- home-bg.jpg-->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Write Ai-d</h1>
              <span class="subheading">Using Ai to Help Others</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="section-heading">Who are we?</h2>
            <p>
              We are Write Ai-d: a group of three first year Integrated Biomedical Engineering and Health Sciences (IBEHS) students from McMaster University. Tasked with creating a device to help a particular client, as a team we opted to meet our client’s by tackling the design problem by approaching the problem from both a hardware and software perspective, using as many of our resources as possible. As a result, we were able to develop a device with the potential to change our client’s daily life for the better.
            </p>


            <h2 class="section-heading">The Problem We Are Addressing</h2>

            <p>
              Currently it is difficult for people living with Primary General Dystonia to write clearly. Our aim is to create a solution that will allow anyone with difficulty writing to be able to write notes legibly.
            </p>

            <h2 class="section-heading">Brief Patient Profile</h2>

            <p>
              Our client has been diagnosed with Primary Generalized Dystonia (DYT6). According to the Dystonia Medical Research Foundation website, Generalized Dystonia is defined as a condition that affects multiple muscle groups within the body, causing abnormal muscle contractions. In the case of our client, she has gone through multiple treatments including deep brain stimulation surgery that restored some of her functions. However, she still struggles with multiple tasks, the one that was primarily focused on was her difficulty writing. According to our client, while writing, her hand tends to cramp up and her fingers start curling inwards. She can usually only write for 45 minutes to an hour until the cramps become too difficult to write. While typing things out for school works, she prefers to write as she finds it helps her learn better. Our client is right handed and is not ambidextrous, if she focuses she can use left hand legibly. Overall, our client is living with primary generalized dystonia, because of this, she has difficulty with fine motor tasks specifically the ability to write things out.
            </p>

            <h2 class="section-heading">What is our solution?</h2>

            <p>
              Write Ai-d is a two-fold design solution to this need, combining a program which utilizes machine learning to translate the user’s handwriting to typed text combined with a physical device intended to make the process of writing as comfortable and pain-free as possible for the user.
            </p>
            <p>
              The computer program can be easily installed and launched on a PC through the custom application icon. It utilizes a Convolutional Neural Network to analyze the characters written by the user on screen. The user can easily draw in a textbox and make use of easily accessible buttons for text manipulation and program navigation. The program accommodates for the client’s unsteady hand as the database of characters used in the program was designed to mimic the shaky handwriting and uncontrolled hand movements. 
            </p>

            <p>
              The second component of this design solution, the Stylus Attachment Device (SAD), is a redesign of a typical stylus, intended to be used by someone like our client, with reduced fine motor skills and dexterity. The SAD offers a natural grip position and has a shorter moment arm, providing the user with a neutral hand position to reduce cramping and more control over his/her writing. The device is made from sturdy materials and is easy to assemble, with its longevity further enhanced by replaceable parts such as the stylus tips and reprintable PLA frame. Together, the Write Ai-d method provides a functional and fitting solution for the identified design problem.
            </p>

            
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Write Ai-d 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>

  </body>

</html>
